doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title React Workshop

    link(rel='stylesheet', type='text/css', href='build/build.css')

  body

    article

      section
        h1 React Workshop
        img(src="./images/react.png", style="width: 150px")
        p please update your npm with
        pre
          code.language-javascript.
            npm install npm@latest -g

      section
        h2 What is React? ðŸ¤”
        ul
          li A Javascript Library for building user interfaces
          li created by facebook and open sourced about three years ago
          li Component Based
          li Unidirectional data flow
          li JSX

      section
        h2 why should i choose react?
        ul
          li easy to learn & natural to use
          li Flux over MVC
          li JSX
          li learn once - use everywhere
          li painless releases
          li awesome gigantic community

      section
        h2 ðŸ˜´
        img(src="https://media.giphy.com/media/14aVj10D1TwHu0/giphy.gif")

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h2 Let's get started! ðŸŽ‰ðŸ’»

      section
        h2 install&nbsp;
          strong create-react-app
        pre
          code.language-javascript.
            npm install -g create-react-app
            create-react-app myfancyfirstapp

      section
        pre
          code.language-javascript.
            class App extends Component {
              render() {
                return (
                  &ltdiv className="App">
                    &ltdiv className="App-header">
                      &ltimg src={logo} className="App-logo" alt="logo" />
                      &lth2>Welcome to React&lt/h2>
                    &lt/div>
                    &ltp className="App-intro">
                      To get started, edit &ltcode>src/App.js&lt/code> and save to reload.
                    &lt/p>
                  &lt/div>
                );
              }
            }
        h2 ðŸ˜¨

      section
        h2 delete everything! ðŸ™Œ
        pre
          code.language-javascript.
            class App extends Component {
              render() {
                return (
                  &ltdiv>Hello World!&lt/div>
                );
              }
            }

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h2 JSX
        pre
          code.language-javascript.
            function getCompanyElement() {
              var company = "Catalysts";
              return &ltdiv>Hello {company}!&lt/div>
            }

      section
        h2 JSX
        ul
          li javascript syntax extension
          li catch errors already with linter
          li HTML like but not 100% equal
          li not only for Web also for native development usable
          //- todo: add lint error example

      section
        h2 Components
        ul
          li
            i "Components let you split the UI into independent, reusable pieces, and think about each piece in isolation."
          li
            i "Conceptually, components are like JavaScript functions. They accept arbitrary inputs (called "props") and return React elements describing what should appear on the screen."

      section
        h3 Class Component
        pre
          code.language-javascript.
            import React from 'react';

            class Company extends React.Component {
              render() {
                return (
                  &ltdiv>company: Catalysts&lt/div>
                )
              }
            }

      selection
        h3 Functional Component
        pre
          code.language-javascript.
            function Company(props) {
              return &ltdiv>company: Catalysts&lt/div>
            }


      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h2 Why use Class Components? ðŸ¤”
        ul
          li &nbsp
          li Lifecycle Hooks & other APIs
          li State

      section
        h3 Lifecycle Hooks
        div(style="text-align: left;")
          code componentWillMount()
          br
          code â— componentDidMount()
          br
          code componentWillReceiveProps(nextProps)
          br
          code â— shouldComponentUpdate(nextProps, nextState)
          br
          code componentWillUpdate(nextProps, nextState)
          br
          code componentDidUpdate(prevProps, prevState)
          br
          code componentWillUnmount()

      section
        h3 Component Methods
        code setState()
        code â›” forceUpdate() â›”
        br

        h3 Component Properties
        code props
        code defaultProps
        code displayName
        code state

      section
        h3 Props
        code.language-javascript.
          &ltCompany name="Catalysts"/>
        br
        pre
          code.language-javascript.
            class Company extends React.Component {
              render() {
                return (
                  &ltdiv>company: {this.props.name}&lt/div>
                );
              }
            }

      section
        h3 Functional Components
        code.language-javascript.
          &ltCompany name="Catalysts"/>
        br
        pre
          code.language-javascript.
            function Company({name}}) {
              return &ltdiv>company: {name}}&lt/div>
            }

      section
        h3 PropTypes
        pre
          code.language-javascript.
            Company.propTypes = {
              name: PropTypes.string.isRequired
            }

      section
        pre
          code.language-javascript.
            class Company extends React.Component {
              static propTypes = {
                /* name of the company */
                name: PropTypes.string.isRequired
              }

              render() {
                return (
                  &ltdiv>company: {this.props.name}&lt/div>
                );
              }
            }

      section
        h3 Default props
        pre
          code.language-javascript.
            class Company extends React.Component {
              static propTypes = {
                /* name of the company */
                name: PropTypes.string
              }

              render() {
                return (
                  &ltdiv>company: {this.props.name.toUpperCase()}&lt/div>
                );
              }
            }

            function CompanyList() {
              return &ltCompany/>
            }

      section
        <iframe src="https://www.webpackbin.com/bins/-KidWz3BVGe3Zqvqm6Ux" frameborder="0" width="800" height="500"></iframe>

      section
        ul
          li
            pre
              code.language-javascript.
                return (
                  &ltdiv>company: {this.props.name ? this.props.name.toUpperCase() : ''}&lt/div>
                );
          li


      section
        h3 State

    script(src='build/build.js')
